.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-style: none solid none none;
    border-color: white;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    text-align: center;
}
  
  .sidebar a:hover {
    color: lightgrey;
  }

.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  body {
    background-color: black;
}

h1 {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
}

#player {
    width: 200px;
    position: absolute;
    bottom: 20px;
}

table, th, td {
    color: white;
    text-align: center;
}

table {
    width: 100%;
}

.team {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

img {
    padding: 10px;
}